<h1>Dashboard</h1>

<h2>Inquiries</h2>
  <% @events.each do |event| %>
    <% event.inquiries.each do |inquiry| %>
      <%= inquiry.status %>
    <% end %>
  <% end %>

<h2>Reservations</h2>
  <% @events.each do |event| %>
    <% event.reservations.each do |reservation| %>
      <%= reservation.status %>
    <% end %>
  <% end %>

