
<div class="wrapper">
  <div class="container ">
   <div class="row" >
    <div class='col-xs-12 col-md-6'>
     <h1><%= @profile.first_name %></h1>
     <h3><%= @profile.city %> </h3>
     <h2> About Me </h2>
     <p>  @profile.interest </p>
     <h3>Upcoming Meals</h3>
     <p>@user.events</p>
     <h3>Countries</h3>

     <%= link_to "edit your profile", edit_profile_path %>

   </div>
   <div class='col-xs-12 col-md-6'>
    <%= image_tag @profile.photo %>
  </div>
</div>


</div>
</div>








