
<div class="wrapper">
<div class="container ">
	<div class="row" >
		<div class='col-xs-12 col-md-4 col-md-offset-2' id="header">
			<h1><%= @profile.first_name %></h1>
			<%= image_tag @profile.photo, class: "photo_class" %>
			<h3><%= @profile.city %> </h3>
		</div>
		<div class='col-xs-12 col-md-4 col-md-offset-2' id="about">
			<h2> About Me </h2>
			<p>  @profile.about me </p>
		</div>
	</div>
	<div class="row" >
		<div class='col-xs-12 col-md-4 col-md-offset-2' id="meals">
			<h3>Upcoming Meals</h3>
			<p>@user.events</p>
		</div>
		<div class='col-xs-12 col-md-4 col-md-offset-2' id="countries">
			<h3>Countries</h3>
		</div>
	</div>	
</div>
</div>


 
  

  
