/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.background-image {
  background-image: url("homepage_pattern.jpg");
  background-size: cover !important;
  height: 100vh;
  z-index: -3;

}
