/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 .background-image {
  background-size: cover !important;
  height: 100vh;
  z-index: -5;
}

.bohobee-h1 {
  margin-left: 20px;
  padding: 3em;
}

.banner-font-color {
 color: white;
 font-family: 'Oxygen Mono', ;
}

h1 {
  margin-top: -1px;
  font-family: 'Oxygen Mono', ;
}
/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.search-bakcground {
background-image: url('road.gif');
background-size: cover;
}


.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}

.banner-small {
  color: white;
  text-align: center;
  height: 50px;
  background-size: cover !important;
}

.search_form {
  color: black;
  height: 50px;
}

.sab-button {
  background-color: #FEC81E;
  border: 0px;
}

.sab-button {
  background-color: #FEC81E;
  border: 0px;
  height: 40px;
  border-radius: 5px;
  color: white;
  padding: 15px 15px 15px 15px;
}

.sab-button:hover {
  background-color: #FEC81E;
  border: 0px;
}

#search {
  height: 40px;
  border-radius: 5px;
  border-color: white;
  width: 200px;
}
