/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.background-image {
  background-image: url("homepage_pattern.jpg");
  background-size: cover !important;
  height: 100vh;
  z-index: -3;


/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.container {
  text-align: center;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}

.banner-small {
  color: white;
  text-align: center;
  height: 50px;
  background-size: cover !important;
}

.search_form {
  color: black;
}
