


<div class="background-image">
<h1>BohoBees</h1>
</div>



<div class="banner" style="background: url('http://res.cloudinary.com/dvcylwwvz/image/upload/v1465384666/bohobees_banner_axfhlq.jpg') fixed;">
  <div class="banner-content">
    <h1> BohoBees </h1>
    <h3> Who's Hosting? </h3>
    <br>
    <br>
    <%= form_tag(controller: "events", action: "index", method: "get") do %>
    <div class="search_form">
    <%= text_field_tag :search, params[:search]%>
    <%= submit_tag "Search"%>
    </div>
    <% end %>
    <br>
    <br>
  </div>
</div>
